<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="row">
    <div class="col-xs-2" ng-switch="route" ng-animate="'fade'">
      
<!--       <div ng-switch-when="home" >
        <div class="border-wrap" ng-click="slidePage('/menu', 'slide', true)">
            <a class="icon-info navbar-brand">
            </a>
        </div>
      </div> -->
      
      <div ng-switch-when="mixes">
        <div class="arrow-padding-left" ng-click="back()">
          <div class="icon-chevron-left  navbar-brand">
          </div> 
        </div>
      </div>
    
    </div>
    
    <div class="col-xs-8 track-info">
     
      <div ng-switch="play_logic()"> 
        <div ng-switch-when="true"> 
          <div ng-repeat="song in songs | oneAtATime: current_index" ng-animate="'fade'" class="track-info-container">
            <div class="info">
              <div ng-switch="route">

                <div ng-switch-default>     
                  <div class="row-fluid"><span class="song-name">{{song.name}}</span></div>
                  <div class="row-fluid"><small class="song-artist">{{song.artist}}</small></div>
                  <div class="row"></div>
                </div>
              
                <div ng-switch-when="mixes">
                  <div class="song-name title">
                    MIXTAPES
                  </div>
                </div>
             
              </div>
            </div>  
          </div>
        </div>

        <div ng-switch-when="false" class="logo">
          <img src="img/noon_pacific.png"></img> 
        </div>
      </div>
    </div>  
   
 
   
    <div class="col-xs-2 mixes" ng-switch="route" ng-animate="'fade'">
      
      <div ng-switch-when="home">
        <div ng-click="slidePage('/mixes')" class="pull-right">
          <div class="icon-reorder icon-2x navbar-brand"></div>
        </div>
      </div>

      <div ng-switch-when="menu">
        <div class="arrow-padding-right pull-right" ng-click="slidePage('/')">
          <div class="icon-chevron-right navbar-brand">
          </div> 
        </div>
      </div>
    
    </div>
  
  </div>

</nav>