<nav role="navigation" ng-class="{shrink: show_menu}" class="navbar player navbar-default navbar-fixed-bottom">
  <div class="row bar-row"> 
    <div class="progress">
      <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="30" style="width: 0" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
  </div> 
  <div class="row actions">
    <div class="col-xs-4 action-col"></div>
    <div ng-switch="playing" ng-click="toggle()" class="col-xs-4 action-col">
      <div ng-switch-when="true" class="action icon-pause icon-2x"></div>
      <div ng-switch-when="false" class="action icon-play icon-2x"></div>
    </div>
    <div ng-click="skip()" class="col-xs-4 action-col"><i class="icon-forward icon-2x"></i></div>
  </div>
</nav>